<template>
<div class="page-client-announcement">
  <div class="fixed-bar-wrapper">
    <div class="fixed-bar-inner flex-box flex-align-center">
      <div class="flex-1">
        <!-- 路由到查看投保信息页面 -->
        <a class="fill-size" v-if="!queryRiskSuccessState" @click="ajaxQueryInsure" id="J-confirm-proposal">确认投保</a>

        <a class="fill-size"
        @click="ajaxQueryInsuranceDetial" v-if="queryRiskSuccessState">
          <i class="iconfont icon-bussinesscard mr8" id="J-view-proposal-info"></i>查看投保信息
        </a>
      </div>
    </div>
  </div>
  <!-- pha为page-client-announcement的命名空间 -->
  <div class="page-title pca-title">
    <h1>客户告知书</h1>
    <router-link to="/insuranceInfo" class="action-return"><i class="iconfont icon-moreicon rotate-180"></i></router-link>

  </div>
  <div class="page-content pca-content" v-html="clientnft">

  </div>
</div>
</template>

<script>
import router from '@/router'

import {
  mapState
} from 'vuex'

import {
  queryInsure,
  queryInsuranceDetail
} from '@/api'

import {
  ajax
} from '@/api/api.helper'

import notify from '@/js/util/notify'

import {
  SERVER_ERROR
} from '@/js/const'

export default {
  name: 'HealthAnnouncement',

  data () {
    return {
      clientnft: '',
      queryRiskSuccessState: false
    }
  },

  methods: {
    ajaxQueryInsure: function () {
      var self = this

      queryInsure({
        transactionid: self.transactionid,
        applicant_name: self.applicant_name,
        applicant_identity: self.applicant_identity,
        applicant_phone: self.applicant_phone,
        applicant_email: self.applicant_email,
        insured_profession: self.insured_profession,
        relative: self.relative,
        insured_name: self.insured_name,
        insured_identity: self.insured_identity
      })
        .then((response) => {
          console.log('@api投保...')
          var $response = response.data.response
          var $h = $response.head
          var $errcode = $h.errcode
          if ($errcode === '00000' && $h.message[0].validate) {
            var d = $response.body.data
            console.log('响应数据:', d)

            notify(
              $h.message[0].validate,
              'success',
              5)

            self.$store.commit('changeInsuranceNo', d.insuranceno)
            // 切换状态
            self.queryRiskSuccessState = true
          } else {
            notify(
              $h.message[0].validate,
              'error',
              5)
          }

          // self.$store.commit('toggleAjaxLoadingStatus', false)
        }).catch(() => {
          notify(
            SERVER_ERROR,
            'error',
            5)

          // self.$store.commit('toggleAjaxLoadingStatus', false)
        })
    },

    ajaxQueryInsuranceDetial: function () {
      var self = this

      queryInsuranceDetail({
        insuranceno: self.insuranceno
      })
        .then((response) => {
          console.log('@api查看投保信息...')
          var $response = response.data.response
          var $h = $response.head
          var $errcode = $h.errcode
          if ($errcode === '00000' && $h.message[0].validate) {
            var d = $response.body.data
            console.log('响应数据:', d)

            // 切换状态(设置投保单详情信息)
            self.$store.commit('changeInsuranceDetail', d)

            self.navigateToInsuranceDetail()
          } else {
            notify(
              $h.message[0].validate,
              'error',
              5)
          }
          // self.$store.commit('toggleAjaxLoadingStatus', false)
        }).catch(() => {
          notify(
            SERVER_ERROR,
            'error',
            5)
        })
    },

    navigateToHome () {
      router.push({
        path: '/entry'
      })
    },

    navigateToInsuranceDetail () {
      router.push({
        path: '/insuranceDetail'
      })
    }
  },

  computed: {
    ...mapState([
      // 'client_nft',
      'transactionid', // 业务id编号
      'applicant_name',
      'applicant_identity',
      'applicant_phone',
      'applicant_email',
      'insured_profession',
      'relative',
      'insured_name',
      'insured_identity',
      'insuranceno'// 用于查看投保单信息
    ])
  },

  mounted () {
    var vm = this
    ajax(vm.$store.state.client_nft).then((response) => {
      vm.clientnft = response.data
    })
  }
}
</script>

<style>
.pca-title {
  height: 2.4rem;
  text-align: center;
  font-size: 1.2rem;
  background: #ff6430;
  line-height: 2.4rem;
  color: #fff;
}

.pca-content {
  padding: 2.4rem 1rem 6.86rem 1rem;
}

.pca-content > p:nth-child(2) {
  text-indent: 2em;
}
</style>
