<template>
  <div class="page-entry">
    <!-- Banner区 -->
    <div class="entry-banner">
      <img src="../../static/images/group1_M00_29_C4_wKgeQ1nfS8KAFagKAAFjiD5uYIE125.jpg" alt="Banner">
    </div>

    <!-- 产品介绍 -->
    <section class="insurance-header-wrapper">
      <header>
        <h1 class="insurance-name">百万安心疗</h1>
        <p class="insurance-description">保障您与家人的就医费用，最高保障661万，保费146元起。</p>
      </header>
    </section>

    <!-- 固定导航栏 -->
    <div class="fixed-bar-wrapper">
      <div class="fixed-bar-inner pl10 flex-box flex-align-center">
        <div class="premium-wrapper">
          <div class="circle-loading" v-show="initLoading"></div>
          <span class="premium-txt" v-if="!initLoading">保费: {{ premium }}元</span>
        </div>
        <div class="consultation-wrapper flex-1">
          <a class="fill-size" @click="navigateToConsult">
            <i class="iconfont icon-service"></i>咨询
          </a>
        </div>
        <!-- 立即投保 -->
        <div class="proposal-wrapper flex-1">
          <a class="fill-size" :class="{ is__premiumSuccessful: !premiumSuccessful }" @click="navigateToHealthAnnouncement">立即投保</a>
        </div>
      </div>
    </div>

    <!-- 险别类型导航区 -->
    <nav>
      <ul class="insurance-type-navbar flex-box">
        <li
          class="it-item flex-1"
          v-for="(plan) in planList"
          :key="plan.planno"
        >
          <!-- 通过套餐类型来更改UI状态 -->
          <span
            @click="changePlanNo(plan.planno)"
            class="it-item-label"
            :class="(planno === plan.planno) ?
            'it-item-label__active' :
            ''
          ">{{ plan.name }}</span>
        </li>
      </ul>
    </nav>

    <!-- 基本信息输入区 -->
    <div class="base-info-wrapper">
      <!-- 被保人出生日期 -->
      <div class="bi-item flex-box flex-align-center"  @click="selectBirthday">
        <div class="bi-item-label flex-1">被保人出生日期:</div>
        <div class="bi-item-extra flex-1">
          <span
            class="date-txt is-important"
          >{{ birthday }}</span>
          <i class="iconfont icon-calendar"></i>
        </div>
      </div><!-- .bi-item -->

      <!-- 被保人有无社保 -->
      <div class="bi-item flex-box flex-align-center">
        <div class="bi-item-label flex-1">被保人有无社保:</div>
        <div class="bi-item-extra flex-1" >
          <span class="buySocial-item"
          v-bind:class="{ 'buySocial-item__actived' : hasBuySocial }"
          @click="toggleSocialSecurity('YES')">有</span>
          <span class="buySocial-item"
          v-bind:class="{ 'buySocial-item__actived' : !hasBuySocial }" @click="toggleSocialSecurity('NO')">无</span>
        </div>
      </div><!-- .bi-item -->

      <!-- 被保人年龄范围 -->
      <div class="bi-item flex-box flex-align-center">
        <div class="bi-item-label flex-1">被保人年龄范围:</div>
        <div class="bi-item-extra flex-1">
          <span class="age-txt is-important">30天-60周岁</span>
        </div>
      </div><!-- .bi-item -->

      <!-- 保障期限 -->
      <div class="bi-item flex-box flex-align-center">
        <div class="bi-item-label flex-1">保障期限:</div>
        <div class="bi-item-extra flex-1">
          <span class="deadline-txt is-important">1年</span>
        </div>
      </div><!-- .bi-item -->

      <div class="bi-item flex-box flex-align-center">
        <div class="bi-item-label flex-1 is-important fs2rem" v-if="!initLoading">{{ premium }}元</div>
        <div class="circle-loading" v-if="initLoading"></div>
        </div>
      </div><!-- .bi-item -->

      <!-- 权益保障/保额 -->
      <div class="equity-protection">
        <header class="bi-item flex-box flex-align-center">
          <h2>权益保障/保额</h2>
        </header>
      </div> <!-- equity-protection -->

      <!-- Item 1 -->
      <div class="bi-item flex-box flex-align-center" @click="showDescription($event, 'commonMoney')">
        <div class="bi-item-label flex-1">一般医疗保险金</div>
        <div class="bi-item-extra flex-1">
          <span
            class="date-txt is-important"
            ref="commonMoney"
          ></span>
          <i class="iconfont icon-moreicon rotate90" data-ref="commonMoney"></i>
        </div>
      </div><!-- .bi-item -->

      <div class="bi-item bi-item__description">
        <ul class="description-list" ref="commonMoneyInstruction" v-html="product_instruction">
        </ul>
      </div><!-- .bi-item -->

      <!-- 扩展六种重大疾病医疗费用保险金 -->
      <div class="bi-item flex-box flex-align-center" @click="showDescription($event, 'extendedMoney')">
        <div class="bi-item-label flex-1">扩展六种重大疾病医疗费用保险金</div>
        <div class="bi-item-extra flex-1">
          <span
            class="date-txt is-important"
            ref="extendedMoney"
          ></span>
          <i class="iconfont icon-moreicon rotate90"
          data-ref="extendedMoney"></i>
        </div>
      </div><!-- .bi-item -->

      <div class="bi-item bi-item__description">
        <p ref="extendedMoneyInstruction">
          {{ extended_medical }}
        </p>
      </div><!-- .bi-item -->

      <!-- 6种重大疾病保险金 -->
      <div class="bi-item flex-box flex-align-center" @click="showDescription($event, 'extraMoney')" v-if="advanceLevel">
        <div class="bi-item-label flex-1">6种重大疾病保险金</div>
        <div class="bi-item-extra flex-1">
          <span
            class="date-txt is-important"
          >1万</span>
          <i
          class="iconfont icon-moreicon rotate90"
          data-ref="extraMoney"
          ></i>
        </div>
      </div><!-- .bi-item -->

      <div class="bi-item bi-item__description">
        <p ref="extraMoneyInstruction">
          {{ extended_medical }}
        </p>
      </div><!-- .bi-item -->

      <!-- 年度免赔额 -->
      <div class="bi-item flex-box flex-align-center" @click="showDescription($event, 'franchiseOfYear')">
        <div class="bi-item-label flex-1">年度免赔额</div>
        <div class="bi-item-extra flex-1">
          <span
            class="date-txt is-important"
          >1万</span>
          <i
          class="iconfont icon-moreicon rotate90"
          data-ref="franchiseOfYear"
          ></i>
        </div>
      </div><!-- .bi-item -->


      <div class="bi-item bi-item__description">
        <p ref="franchiseOfYearInstruction">
          {{ abatement }}
        </p>
      </div><!-- .bi-item -->

      <!-- 医院范围 -->
      <div class="bi-item flex-box flex-align-center" @click="showDescription($event, 'hospital')">
        <div class="bi-item-label flex-1">医院范围</div>
        <div class="bi-item-extra flex-1">
          <i class="iconfont icon-moreicon rotate90" data-ref="hospital"></i>
        </div>
      </div><!-- .bi-item -->

      <div class="bi-item bi-item__description">
        <p ref="hospitalInstruction">
          二级及二级以上公立医院
        </p>
      </div><!-- .bi-item -->

      <!-- 保障额度 -->
      <div class="bi-item flex-box flex-align-center">
        <div class="bi-item-label flex-1">保障额度:</div>
        <div class="bi-item-extra flex-1">
          <span class="is-important">{{ getSumInsured }}万</span>
        </div>
      </div>

    </div>
  </div> <!-- page-entry -->
</template>

<script>
import '@/plugins/alertify/alertify.css'

import {
  mapState
} from 'vuex'

import {
  queryRisk
} from '@/api/index'

import updateInsuranceMoney from '@/js/util/updateInsuranceMoney'

// import {
//   getNodeName
// } from '@/js/util/dom'

import sumInsuredFactory from '@/js/util/sumInsured.factory'

import {
  SERVER_ERROR,
  QUERY_RISK_PREPEARE_INFO_ERROR
} from '@/js/const'

import notify from '@/js/util/notify'

import router from '@/router'

// import instructionFactory from '@/js/util/instruction.factory'

import Vue from 'vue'
import Vue2Datepick from 'vue2-datepick'
// 安装Datepick
Vue.use(Vue2Datepick)

// 是否为初次请求保费计算，获取投保预备信息不算
var init = false

export default {
  name: 'Entry',

  data () {
    return {
      initLoading: true,

      planList: [
        {
          name: '基础版',
          planno: 'LP0001'
        },
        {
          name: '基础升级版',
          planno: 'LP0002'
        },
        {
          name: '高额版',
          planno: 'LP0003'
        },
        {
          name: '高额升级版',
          planno: 'LP0004'
        }
      ]
    }
  },

  methods: {
    navigateToHealthAnnouncement () {
      if (!this.premiumSuccessful) {
        return false
      }
      // return false
      router.push({
        path: 'healthAnnouncement'
      })
    },

    navigateToConsult () {
      notify('咨询功能添加中,敬请期待...')
      return false
      // router.push({
      //   path: 'consult'
      // })
    },

    changePlanNo (planno) {
      var self = this
      this.$store.commit('changePlanNo', planno)
      this.$store.dispatch('requestPremiumCal', {
        comp: self
      })

      // 更新保额显示
      updateInsuranceMoney(self.$refs, planno)
    },

    // 切换是否购买了社保
    toggleSocialSecurity (buyStatus) {
      let store = this.$store

      store.commit('toggleSocialSecurity', buyStatus)
      store.dispatch('requestPremiumCal', {
        comp: this
      })
    },

    selectBirthday () {
      var self = this
      this.$store.dispatch('selectBirthday', {
        comp: self
      })
    },

    // 显示文字内容描述
    // [IIFE在ESlint中的设置](https://eslint.org/docs/rules/wrap-iife)
    showDescription: (function () {
      // 使用闭包来存储内容的打开状态
      var descriptionOpenState = false

      return function ($event, ref) {
        // 切换状态
        descriptionOpenState = !descriptionOpenState

        // 获取图标元素
        var iconElem = document.querySelector('[data-ref="' + ref + '"]')

        var instructionElement = this.$refs[ref + 'Instruction']

        var parentNode = instructionElement.parentNode

        if (descriptionOpenState) {
          iconElem.classList.add('rotate-90')
          // 切换内容描述容器的显示状态
          parentNode.style.display = 'block'
        } else {
          iconElem.classList.remove('rotate-90')
          parentNode.style.display = 'none'
        }
      }
    }.call(this))
  },

  computed: {
    ...mapState([
      'premiumSuccessful',
      'birthday',
      'social',
      'planno',
      'premium', // 保费,
      'transactionid', // 业务id编号,
      'product_instruction',
      'extended_medical',
      'abatement',
      'hospital',
      'health',
      'client_nft'
    ]),

    // 是否购买社保
    hasBuySocial () {
      return this.social === '1'
    },

    advanceLevel () {
      return this.planno === 'LP0002' || this.planno === 'LP0004'
    },

    // [Vue计算属性](https://cn.vuejs.org/v2/guide/computed.html)
    getSumInsured () {
      return sumInsuredFactory(this.planno)
    }

  },

  mounted () {
    console.log('mounted...')
    // 存储当前组件实例
    var comp = this

    if (!init) {
      queryRisk()
      .then((response) => {
        console.log('@api获取投保预备信息...')

        var $response = response.data.response
        var $h = $response.head
        var $errcode = $h.errcode

        if ($errcode === '00000') {
          var d = $response.body.data
          var q = d.quotation

          comp.$store.commit('changeClientNft', d.client_nft)

          // 触发selectBirthday mutation
          comp.$store.commit('selectBirthday', q.birthday)

          // 设置日历的最小时间
          comp.$store.commit('changeMinDate', `${d.min_birth_year}-${d.min_birth_month}-${d.min_birth_day}`)

          // 设置日历的最大时间
          comp.$store.commit('changeMaxDate', `${d.max_birth_year}-${d.max_birth_month}-${d.max_birth_day}`)

          // 设置保费
          comp.$store.commit('changePremium', q.premium)

          // 设置一般医疗保险金条款说明
          comp.$store.commit('changeProductInstruction', d.product_instruction.map((item) => {
            return '<li>' + item + '</li>'
          }).join(''))

          // 设置扩展6种重大疾病条款说明
          comp.$store.commit('changeExtendedMedical', d.extended_medical)

          // 设置年度免赔额条款说明
          comp.$store.commit('changeAbatement', d.abatement)

          // 设置医院类型
          comp.$store.commit('changeHospital', d.plans[0].hospital)

          // 设置健康告知书
          comp.$store.commit('changeHealth', d.health.map((item) => {
            return '<p>' + item + '</p>'
          }).join(''))

          // // 设置起保日期
          // comp.$store.commit('changeStartDate', q.start_date)

          // // 设置终保日期
          // comp.$store.commit('changeEndDate', q.end_date)

          // 更改套餐计划
          comp.$store.commit('changePlanNo', q.planno)

          // 更改业务逻辑编号
          comp.$store.commit('changeTransactionId', q.transactionid)

          // 同步Vuex中social的状态
          comp.$store.commit('changeSocialSecurity', q.social)

          comp.$store.commit('changePremiumSuccessful', true)

          updateInsuranceMoney(comp.$refs, q.planno)

          // 重设circle-loading状态
          comp.initLoading = false

          // 设置初次请求状态
          init = true
        } else {
          comp.$store.commit('changePremiumSuccessful', false)

          notify(QUERY_RISK_PREPEARE_INFO_ERROR)
          comp.initLoading = false
        }
      }).catch((err) => {
        // comp.$store.commit('changePremiumSuccessful', false)

        console.log('Log Error:', err)
        notify(SERVER_ERROR)
        comp.initLoading = false
      })
    } else {
      // 避免组件生命周期重新执行导致状态不同步的问题
      comp.initLoading = false
      updateInsuranceMoney(comp.$refs, comp.planno)
    }
  }
}
</script>

<style>
.page-entry {
  padding-bottom: 6.86rem;
}

.entry-banner {
  width: 100%;
  min-height: 132px;
}
.entry-banner img {
  width: 100%;
  height: auto;
}

.insurance-header-wrapper {
  margin: 0 1rem;
  border-bottom: 1px solid #eee;
}

.insurance-name {
  color:#ff6430;
  font-size: 2rem;
}

.insurance-description {
  font-size: 0.875rem; /* 14 / 16 */
  /* 缩进2个格 */
  text-indent: 2em;
  line-height: 1.714285; /* 24 / 14 */
  margin-bottom: 0.625rem; /* 10 / 16 */
  color: #999;
}


/* =================
  用户信息输入区
 =================== */
.insurance-type-navbar {
  margin: 0 1rem;
  border-bottom: 1px solid #f0f0f0;
}

.it-item {
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    position: relative;
}

.it-item-label {
    display: block;
    height: 100%;
    width: 100%;
}

.it-item-label:after {
  position: absolute;
  /* 这个非常重要 */
  content: ' ';
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.125rem; /* 2px */
  background: #fff;
  transition: color, background .1s ease-in;
}

.it-item-label:hover:after,
.it-item-label__active:after{
  background: #ff6430;
}


/* =================
  用户信息输入区
 =================== */
.buySocial-item {
  display: inline-block;
  margin-left: 0.625rem;
  width: 1.25rem;
  height: 100%;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  text-align: center;
  transition: border,color,background .2s ease-in-out;
  padding: 0.2rem 0.5rem;
}

.buySocial-item__actived {
  border: 1px solid #ff6430;
  color: #ff6430;
  background: #fff8f5;
}

.bi-item__description {
  display: none;
}

.date-txt {
  -webkit-appearance: none;
  border: none;
  text-align: right;
}

.fs2rem {
  font-size: 2rem;
}

.equity-protection {
  margin-top: 1rem;
}

.description-list li {
  margin-top: 1rem;
}

.bi-item__description p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.premium-wrapper {
  width: 120px;
}

.proposal-wrapper > a {
  background: #ff6430;
}

.premium-txt {
  color: #ff6430;
}

.is__premiumSuccessful {
  background: #3e3e3e !important;
  opacity: 0.1 !important;
  color: rgba(252, 248, 215, 0.95) !important;
}
</style>
