<template>
<div class="page-health-announcement">
  <div class="fixed-bar-wrapper">
    <div class="fixed-bar-inner flex-box flex-align-center">
      <div class="flex-1">
        <!-- 路由到主页 -->
        <router-link to="/" class="fill-size disapprove-btn"><i class="iconfont icon-cry mr8"></i>不符合</router-link>
      </div>
      <div class="flex-1">
        <!-- 路由到填写投保信息页面 -->
        <router-link to="/insuranceInfo" class="fill-size approve-btn"><i class="iconfont icon-smile mr8"></i>符合</router-link>
      </div>
    </div>
  </div>
  <!-- pha为page-health-announcement的命名空间 -->
  <div class="page-title pha-title">
    <h1>健康告知书</h1>
  </div>
  <div class="page-content pha-content" v-html="health">
  </div>
</div>
</template>

<script>
import router from '@/router'

import {
  mapState
} from 'vuex'

export default {
  name: 'HealthAnnouncement',

  methods: {
    navigateToHome () {
      if (this.transactionid === '') {
        router.push({
          path: ''
        })
      }
    }
  },

  computed: {
    ...mapState([
      'health'
    ])
  }
}
</script>

<style>
.disapprove-btn {
  color: #000;
  background: #efefef;
}
.approve-btn {
  color: #fff;
  background: #ff6430;
}

.pha-title {
  height: 2.4rem;
  text-align: center;
  font-size: 1.2rem;
  background: #ff6430;
  line-height: 2.4rem;
  color: #fff;
}

.pha-content {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 6.86rem;
}

.pha-content p {
  margin-top: 1em;
  margin-bottom: 1em;
}

.pha-content > p:first-child {
  text-indent: 2em;
}

.fixed-bar__duration {
  animation-duration: 2s;
}
</style>


