<template>
<div class="page-insurance-detail">
  <!-- pid为`page-insurance-detail`的命名空间 -->
  <div class="page-title pid-title">
    <h1>投保信息查询</h1>
    <router-link to="/" class="action-return"><i class="iconfont icon-home"></i></router-link>
  </div>
  <div class="page-content pid-content">
    <!-- 申请人部分 -->
    <div class="pid-section pid-applicant-section">
      <!-- 申请人姓名 -->
      <div class="bi-item flex-box flex-align-center">
        <div class="bi-item-label flex-1">申请人姓名:</div>
        <div class="bi-item-extra flex-1 is-important">{{ d.applicant_name }}</div>
      </div>

      <!-- 申请人身份证 -->
      <div class="bi-item flex-box flex-align-center">
        <div class="bi-item-label flex-1">申请人身份证:</div>
        <div class="bi-item-extra flex-1 is-important">{{ d.applicant_identity }}</div>
      </div>

      <!-- 申请人手机号码 -->
      <div class="bi-item flex-box flex-align-center">
        <div class="bi-item-label flex-1">申请人手机号码:</div>
        <div class="bi-item-extra flex-1 is-important">{{ d.applicant_phone }}</div>
      </div>

      <!-- 申请人邮箱 -->
      <div class="bi-item flex-box flex-align-center">
        <div class="bi-item-label flex-1">申请人邮箱:</div>
        <div class="bi-item-extra flex-1 is-important">{{ d.applicant_email }}</div>
      </div>
    </div>

    <!-- 被保人部分 -->
    <div class="pid-section pid-insured-section">
      <!-- 申请人与被保人的关系 -->
      <div class="bi-item flex-box flex-align-center">
        <div class="bi-item-label flex-1">申请人与被保人的关系:</div>
        <div class="bi-item-extra flex-1 is-important">{{ getRelative }}</div>
      </div>

      <!-- 被保人姓名 -->
      <div class="bi-item flex-box flex-align-center">
        <div class="bi-item-label flex-1">被保人姓名:</div>
        <div class="bi-item-extra flex-1 is-important">{{ d.insured_name }}</div>
      </div>

      <!-- 被保人身份证 -->
      <div class="bi-item flex-box flex-align-center">
        <div class="bi-item-label flex-1">被保人身份证:</div>
        <div class="bi-item-extra flex-1 is-important">{{ d.insured_identity }}</div>
      </div>

      <!-- 被保人职业名称 -->
      <div class="bi-item flex-box flex-align-center">
        <div class="bi-item-label flex-1">被保人职业名称:</div>
        <div class="bi-item-extra flex-1 is-important">{{ d.insured_profession_name }}</div>
      </div>
    </div>

    <div class="pid-section">
      <!-- 起保日期 -->
      <div class="bi-item flex-box flex-align-center">
        <div class="bi-item-label flex-1">起保日期:</div>
        <div class="bi-item-extra flex-1 is-important">{{ d.startdate }}</div>
      </div>
      <!-- 终保日期 -->
      <div class="bi-item flex-box flex-align-center">
        <div class="bi-item-label flex-1">终保日期:</div>
        <div class="bi-item-extra flex-1 is-important">{{ d.enddate }}</div>
      </div>

      <!-- 套餐编号 -->
      <div class="bi-item flex-box flex-align-center">
        <div class="bi-item-label flex-1">套餐编号:</div>
        <div class="bi-item-extra flex-1 is-important">{{ d.planno }}</div>
      </div>

      <!-- 保费 -->
      <div class="bi-item flex-box flex-align-center">
        <div class="bi-item-label flex-1">保费:</div>
        <div class="bi-item-extra flex-1 is-important">{{ d.premium }}&nbsp;元</div>
      </div>

      <!-- 投保单号 -->
      <!-- <div class="bi-item flex-box flex-align-center">
        <div class="bi-item-label flex-1">投保单号:</div>
        <div class="bi-item-extra flex-1 is-important">f4b09957bc654fa2bd0f7609b035b4b6</div>
      </div> -->

      <!-- 保单是否已经处理 -->
      <div class="bi-item flex-box flex-align-center">
        <div class="bi-item-label flex-1">保单处理状态:</div>
        <div class="bi-item-extra flex-1 is-important">{{ getDoneStatus }}</div>
      </div>

      <!-- 是否已经承保 -->
      <div class="bi-item flex-box flex-align-center">
        <div class="bi-item-label flex-1">保单承保状态:</div>
        <div class="bi-item-extra flex-1 is-important">{{ getApprovedStatus }}</div>
      </div>

      <!-- 保单是否已经支付 -->
      <div class="bi-item flex-box flex-align-center">
        <div class="bi-item-label flex-1">保单支付状态:</div>
        <div class="bi-item-extra flex-1 is-important">{{ getPayStatus }}</div>
      </div>

      <!-- 保单支付时间 -->
      <div class="bi-item flex-box flex-align-center" v-if="isPaid">
        <div class="bi-item-label flex-1">保单支付时间:</div>
        <div class="bi-item-extra flex-1 is-important">{{ d.paid_time }}</div>
      </div>
    </div> <!-- End section -->

  </div>
</div>
</template>

<script>
import {
  mapState
} from 'vuex'

export default {
  computed: {
    ...mapState({
      d: state => state.insurance_detail
    }),

    getDoneStatus () {
      if (this.d.done === '0') {
        return '未处理'
      } else if (this.d.done === '1') {
        return '已经处理'
      }
    },

    getApprovedStatus () {
      if (this.d.approved === '0') {
        return '未承保'
      } else if (this.d.approved === '1') {
        return '已经承保'
      }
    },

    getPayStatus () {
      if (this.isPaid) {
        return '已经支付'
      } else {
        return '未支付'
      }
    },

    isPaid () {
      if (this.d.paid === '0') {
        return false
      } else if (this.d.paid === '1') {
        return true
      }
    },

    getRelative () {
      // 判断投保人(申请人)与被保人的关系
      // 0代表关系为“自身”
      switch (this.d.relative) {
        case '0':
          return '本人'
        case '1':
          return '配偶'
        case '2':
          return '子女'
        case '3':
          return '父母'
        default:
          break
      }
    }
  }
}
</script>

<style>
.pid-title {
  height: 2.4rem;
  text-align: center;
  font-size: 1.2rem;
  background: #ff6430;
  line-height: 2.4rem;
  color: #fff;
}

.pid-section {
  margin-bottom: 2rem;
}
</style>

