<template>
  <!-- 查询职业类别页面 -->
  <div class="page-query-jobclass">
    <div class="bi-item flex-box flex-align-center">
      <div>
        <a class="btn-return" @click.prevent="goback">后退</a>
      </div>
      <div>
        <router-link to="/insuranceInfo" class="btn-confirm" v-if="enableConfirm">确定</router-link>
      </div>
    </div>

    <ul>
      <li
      v-for="(item, index) in list"
      :key="item.id"
      class="bi-item flex-box flex-align-center job-item animated slideInUp"
      :style="{ animationDuration : (0 + index * 0.15) + 's' }"
      @click="isReturnabled($event, item)"
      >
        <div>
          <span>{{ item.name }}</span>
        </div>
        <div v-if="!isDetailRiskLevel(item.risk_level)">
          <i class="iconfont icon-moreicon"></i>
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
// import {
//   mapState
//   // , mapActions
// } from 'vuex'

import {
  queryProfession
} from '@/api'

import {
  SERVER_ERROR,
  QUERY_JOB_CLASS_ERROR
} from '@/js/const'

import notify from '@/js/util/notify'

var data = {
  list: [],
  enableConfirm: false
}

// 记录当前DOM元素，用于清除样式
var currentElem = null

// 记录父级分类编码栈
// ['0', '1', '24']
var parentNoStack = window.parentNoStack = ['0']

export default {
  name: 'QueryJobClass',
  data () {
    return data
  },

  methods: {
    goback: function () {
      // 如果栈中只有一个item，不要做任何移除操作
      if (parentNoStack.length !== 1) {
        // 先从parentNoStack移除最后一个
        parentNoStack.pop()

        // 重置“确定按钮”状态
        data.enableConfirm = false

        queryProfession({
          // 然后访问栈中最后一个
          parentno: parentNoStack[parentNoStack.length - 1]
        }).then((response) => {
          console.log('@api获取职业等级【后退挂载】...')
          var $response = response.data.response
          if ($response &&
          $response.head &&
          $response.head.errcode === '00000') {
            var d = $response.body.data
            data.list = d.list
          } else {
            // @note
            // 改为Toast
            throw new Error('请求`获取职业等级出错`')
          }
        }).catch((error) => {
          console.log(error)
        })
      }
    },

    // 判断是否为具体的子节点
    // 要是具体的子节点，就不展示方向箭头
    isDetailRiskLevel: (s) => s !== '0',

    isReturnabled: function ($event, item) {
      console.log(this, this.$store)
      // 在此元素设置样式
      var el = null

      // 判断当前点击的元素是否可以直接
      // - 当前元素的risk_level值
      console.log($event.target, this)
      if (item.risk_level !== '0') {
        el = $event.target

        if (el.nodeName === 'SPAN') {
          el = el.parentNode.parentNode
        }
        if (el.nodeName === 'DIV') {
          el = el.parentNode
        }

        // 检测这个，主要是避免DOM操作错误
        if (currentElem !== null) {
          currentElem.style = ''
        }

        currentElem = el

        // 添加UI效果
        el.style = 'color:#fff;background:#ff6430'

        // 设置状态
        console.log(
          '职业等级:', item.risk_level,
          '职业名称:', item.name,
          '职业编号:', item.no
        )

        console.log(this.$store)

        this.$store.commit('changeInsuredProfession', item.no)
        this.$store.commit('changeInsuredProfessionName', item.name)
        // this.insured_profession = item.no

        // 设置“确定按钮”状态
        data.enableConfirm = true
      } else {
        console.log('发起请求')

        parentNoStack.push(item.no)

        queryProfession({
          parentno: item.no
        })
          .then((response) => {
            console.log('@api获取职业等级【点击挂载】...')
            var $response = response.data.response
            if ($response &&
            $response.head &&
            $response.head.errcode === '00000') {
              var d = $response.body.data
              data.list = d.list
            } else {
              notify(
                QUERY_JOB_CLASS_ERROR,
                'error',
                5)
            }
          }).catch(() => {
            notify(
              SERVER_ERROR,
              'error',
              5)
          })
      }
    }
  },

  computed: {
    // ...mapState([
    //   'insured_profession'
    // ])
  },

  mounted () {
    var vm = this

    queryProfession()
      .then((response) => {
        console.log('@api获取职业等级【初次挂载】...')
        // 使用拦截器来处理
        var $response = response.data.response
        if ($response &&
        $response.head &&
        $response.head.errcode === '00000') {
          var d = $response.body.data
          vm.list = d.list
        } else {
          notify(
            QUERY_JOB_CLASS_ERROR,
            'error',
            5)
        }
      }).catch(() => {
        notify(
          SERVER_ERROR,
          'error',
          5)
      })
  }
}
</script>

<style>
.btn-return,
.btn-confirm {
  display: inline-block;
  background: #ff6430;
  padding: 5px 10px;
  color: #fff;
}

.job-item {
  text-indent: 1em;
  color: #2c3e50;
  background: #fff;
}
</style>
