<template>
  <div id="app">
    <!-- 加载器遮罩层 -->
    <div class="loading-mask" v-show="ajaxLoading"></div>
    <!-- 加载器区域 -->
    <div class="loading" v-show="ajaxLoading">
      <div class="loading-group loading-group-1">
        <div class="loading-group-c1"></div>
        <div class="loading-group-c2"></div>
        <div class="loading-group-c3"></div>
        <div class="loading-group-c4"></div>
      </div>
      <div class="loading-group loading-group-2">
        <div class="loading-group-c1"></div>
        <div class="loading-group-c2"></div>
        <div class="loading-group-c3"></div>
        <div class="loading-group-c4"></div>
      </div>
    </div>
    <!-- 各路由组件的渲染入口 -->
    <transition name="fade">
      <router-view/>
    </transition>
  </div>
</template>

<script>
import '../static/css/iconfont.css'
import '../static/css/global.css'

import {
  mapState
} from 'vuex'

export default {
  name: 'app',
  computed: {
    ...mapState([
      'ajaxLoading'
    ])
  }
}
</script>

<style>
.loading-mask {
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.01);
  position: fixed;
  z-index: 999998;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.loading {
  background: rgba(255,255,255,0.9);
  z-index: 999999;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  height: 66px;
  width: 66px;
  border-radius: 11px;
  position: fixed;
  box-shadow: 0 0 6px rgba(0,0,0,0.1);
}

.loading-group {
  position: absolute;
  width: 16px;
  height: 20px;
  top: 24px;
  left: 25px;
}

.loading-group-2 {
  transform: rotateZ(45deg);
}

.loading-group-c1,
.loading-group-c2,
.loading-group-c3,
.loading-group-c4 {
  width: 3px;
  height: 7px;
  background-color: #333;
  position: absolute;
  border-radius: 2px;
  animation: bouncedelay 0.8s infinite ease-in-out;
  animation-fill-mode: both;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% {
    opacity:0.2
  }
  40% {
    opacity:0.5
  }
}

.loading-group-c1 {
  top: 0;
  left: 0;
  transform: rotateZ(-45deg);
}

.loading-group-c2 {
  top: 0;
  right: 0;
  transform: rotateZ(45deg);
}

.loading-group-c3 {
  bottom: 0;
  right: 0;
  transform: rotateZ(-45deg);
}

.loading-group-c4 {
  bottom: 0;
  left: 0;
  transform: rotateZ(45deg);
}

.loading-group-1 .loading-group-c2 {
  animation-delay: -.6s
}

.loading-group-1 .loading-group-c3 {
  animation-delay: -.4s
}

.loading-group-1 .loading-group-c4 {
  animation-delay: -.2s
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>

